/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
	-fx-background-color: #ddd; /*#704332 */
}

.atext-field{
	-fx-background-color: #fff;
	-fx-background-radius: 10.0;
}

.vbItem{
	-fx-background-color:  #8B7E74;
}

.sidebar-button:hover{
	-fx-background-color: #CACCCF;
}

.sidebar-button{
	-fx-background-color:#F1D3B3;
}

.sidebar{
	-fx-background-color:#F1D3B3;
}

.flowPane{
	-fx-background-color: #C7BCA1;
}

.vbBill{
	-fx-background-color:  #65647C;
}

.lblChooseCategory{
	-fx-text-fill: white;
}
